* {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

html {
    background-color: #C9DDEC;
}

.background-circle-container {
    display: flex;
}

.background-circle {
    position: absolute;
    top: 78vh;
    z-index: -1;
}

.header-container {
    display: flex;
    color: white;
    flex-direction: column;
}

.header {
    height: 1in;
    width: 100%;
    background-color: #474747;
}


.header h1{
    margin-top: 30px;
    margin-left: 30px;
    position:absolute;
    top: 0px;
    left: 70px;
    cursor: pointer;
}

.header-logo {
    width: 1in;
    object-fit:cover;
    cursor: pointer;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 18vw;
    padding-right: 18vw;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #6E6E6E;
}

.banner-btn {
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
}

.banner-btn:hover {
    transform: scale(1.2);
}

.ad-container {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.ad {
    position: absolute;
    width: 213px;
    top: 500px;
    cursor: pointer;
    z-index:3
}

.ad-text-container {
    display: flex;
    background-color: yellow;
    width: 193px;
    height: 87px;
    right: 19px;
    top: 507px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.bubble-text {
    color: red;
    top: 17px;
    right: 2px;
    position: absolute;
    z-index: 4;
    font-size: 20px;
    cursor: pointer;
    padding-left: 10px;
}

#game-list-h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    background-image: url(pexels-banner1.jpg);
    background-size:cover;
    width: 100%;
}

.tabletop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 400px;
}

/* COMPUTER */
#tabletop-table-image {
    display: grid;
    grid-template-columns: 2in 2in 2in;
    grid-template-rows: 2in;
    position: absolute;
    width: 7in;
    height: 4.1in;
    background-image: url(tabletop.jpg);
    background-position:center;
    align-items: center;
    justify-content: center;
    box-shadow: 11px 6px rgb(39, 21, 1);
}
@media (max-width:700px) {
    #tabletop-table-image {
    display: grid;
    grid-template-columns: 27vw 27vw 27vw;
    grid-template-rows: 2in;
    position: absolute;
    width: 90vw;
    height: 4.1in;
    background-image: url(tabletop.jpg);
    background-position: center;
    align-items: center;
    justify-content: center;
    box-shadow: 11px 6px rgb(39 21 1);
    }
}

/* IPHONE */
/* #tabletop-table-image {
    display: grid;
    grid-template-columns: 27vw 27vw 27vw;
    grid-template-rows: 2in;
    position: absolute;
    width: 90vw;
    height: 4.1in;
    background-image: url(tabletop.jpg);
    background-position: center;
    align-items: center;
    justify-content: center;
    box-shadow: 11px 6px rgb(39 21 1);
} */

/* COMPUTER */
.table-image {
    display: block;
    width: 1.8in;
    height: 1.8in;
    border-radius: 5px;
    object-fit:fill;
    box-shadow: 6px 11px rgb(19, 19, 19);
}
@media (max-width: 700px) {
    .table-image {
        display: block;
        width: 25vw;
        max-width: 200px;
        max-height: 200px;
        height: 25vw;
        border-radius: 5px;
        object-fit: fill;
        box-shadow: 6px 11px rgb(19 19 19);
    }
}




.table-image-x-container {
    display: flex;
    justify-content: space-between;
}

.table-game-x {
    position: absolute;
    color: rgba(211, 164, 164, 0.5);
    z-index: 3;
    font-size: 23px;
    cursor: pointer;
    transition: .1s;
}

.table-game-x:hover {
    color: red;
    transform:rotate(180deg);
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
}

.clear-table-btn-container {
    display: flex;
    justify-content: center;
    padding-top: 0.5in;
}

.clear-table-btn {
    background-color:rgb(107, 180, 223);
    width: 1.5in;
    height: .6in;
    border-radius: 9px;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    transition: .4s;
}

.clear-table-btn:hover {
    background-color: rgb(147, 204, 236);
    transform: scale(1.1);
}

.orginization-tools {
    font-size: 20px;
    background-color: rgba(124, 124, 124, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.3in;
    margin-left: 39%;
    margin-right: 39%;
    padding: 9px;
    border-radius: 4px;
}
@media (max-width: 700px) {
    .orginization-tools {
        font-size: 20px;
        background-color: rgba(124, 124, 124, 0.3);
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 0.3in;
        margin-left: 47px;
        margin-right: 47px;
        padding: 9px;
        border-radius: 4px;
    }
}

.search-bar-container-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.search-bar-container {
    display: flex;
    padding: 20px;
    background-color: rgba(124, 124, 124, 0.3);
    border-radius: 4px;
}

#search-bar {
    padding: 5px;
}

#game-sort {
    background-color:rgb(215, 236, 248);
    font-size: 15px;
    width: fit-content;
    height: 36px;
    border-radius: 3px;
}

#sort-submit-btn {
    background-color:rgb(107, 180, 223);
    font-size: 15px;
    width: fit-content;
    height: 36px;
    border-radius: 4px;
    transition: .3s;
}

#sort-submit-btn:hover {
    background-color: rgb(147, 204, 236);
    transform: scale(1.1);
}

/* COMPUTER */
/* .boardgame-list {
    width: 100%;
    height: auto;
    padding:20px;
    margin: auto auto;
    display: grid;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 300px 300px 300px 300px 300px 300px 300px;
} */

/* IPHONE */
.boardgame-list {
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0px -34px;
    display: grid;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: 18vw 18vw 18vw 18vw 18vw;
    grid-template-rows: 20vw 20vw 20vw 20vw 20vw 20vw 20vw;
}

.game-card {
    width: max-content;
    height: max-content;
    margin: 0 15px;
    box-shadow: 0 0 20px 2px rgb(0, 0, 0,);
    transition: 1s;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* COMPUTER */
/* .game-image {
    display: block;
    width: 2.5in;
    height: 2.5in;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s;
    object-fit:fill;
    border: 3px solid rgba(0, 0, 0, 0.75);
} */

/* IPHONE */
.game-image {
    display: block;
    width: 15vw;
    height: 15vw;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s;
    object-fit: fill;
    border: 3px solid rgba(0, 0, 0, 0.75);
}

.game-image:hover{
    border: 5px solid #306FA2;
    transform:scale(1.3);
    z-index: 0;
}

.game-image-add {
    display: block;
    width: 15vw;
    height: 15vw;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s;
    object-fit: fill;
    border: 3px solid rgba(0, 0, 0, 0.75);
}

.game-image-add:hover{
    border: 3px solid #268123;
    z-index: 0;
}

.game-image-button {
    position: absolute;
    display: block;
    width: 1in;
    height: .3in;
    
    opacity: 0;
}
/* Took out, got annoying  */
/* .game-image-button:hover {
    opacity: 1;
    transform: scale(1);
    transition: .5s;
    cursor: pointer;
    text-align: center;
    width: 2in;
    height: 2in;
    background-color: transparent;
    border: transparent;
    font-size: 45px;
    font-weight: bolder;
    color:rgb(107, 180, 223);
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.75);
} */


#popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: none;
    z-index:4;
    cursor: pointer;
}
/* COMPUTER */
#popup-main-div {
    position: fixed;
    width: 800px;
    height: 550px;
    border: 2px solid black;
    border-radius: 5px;
    background-image: url('https://media.istockphoto.com/photos/dark-green-wool-velvet-texture-background-picture-id1153876379?k=20&m=1153876379&s=612x612&w=0&h=oRz6uBQB9aiuYvosgnIVEaht1he0rlWqSVG06G0Rr-U=') ;
    left:50%;
    margin-left: -400px;
    top: 50%;
    margin-top: -250px;
    z-index: 4;
}
@media (max-width:700px) {
    #popup-main-div {
        position: fixed;
        width: 386px;
        height: 550px;
        border: 2px solid black;
        border-radius: 5px;
        background-image: url(https://media.istockphoto.com/photos/dark-green-wool-velvet-texture-background-picture-id1153876379?k=20&m=1153876379&s=612x612&w=0&h=oRz6uBQB9aiuYvosgnIVEaht1he0rlWqSVG06G0Rr-U=);
        left: 402px;
        margin-left: -400px;
        top: 50%;
        margin-top: -250px;
        z-index: 4;
    }
}

#close-popup-div {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 2px solid black;
    text-align: center;
    right: 5px;
    top: 5px;
}

#close-popup-div p {
    margin-top: 4px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

#close-popup-div p:hover {
    color:rgb(160, 0, 0);
    transform: scale(1.45);
}

#javascript-magic {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    background: rgb(175,175,175);
    background: linear-gradient(107deg, rgba(175,175,175,1) 1%, rgba(106,106,106,1) 100%);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    border-bottom: 2px solid rgb(0, 0, 0);
}

#javascript-desc {
    font-family: sans-serif;
    text-align: center;
    margin-top: 80px;
}

#javascript-desc-p{
    width: 1in;
    color: red
}

/* ORIGINAL */
.game-image-popup {
    display: block;
    left: 0px;
    top: 0px;
    width: 2.8in;
    height: 2.8in;
    margin-left: 60px;
    object-fit: fill;
    box-shadow: 6px 11px rgb(19, 19, 19);
    border: 2px solid black;
}
@media (max-width: 700px) {
    .game-image-popup {
        display: block;
        left: 18px;
        top: 94px;
        width: 220px;
        height: 220px;
        /* margin-left: 60px; */
        object-fit: fill;
        box-shadow: 6px 11px rgb(19 19 19);
        border: 2px solid black;
        position: absolute;
    }
}


.expansions-in-popup-container {
    height: 1in;
    position: absolute;
    bottom: 3%;
    left: 7.5%;
    background-color: rgba(255, 255, 255, 0.3);
}

.expansions-in-popup {
    width: 1in;
    height: 1in;
    position: relative;
    object-fit: fill;
    border: 5px solid rgba(255, 255, 255, 0.3);
}
@media (max-width: 700px) {
    .expansions-in-popup {
        display: none;
    }
}

.expansions-in-popup:hover {
    transform: scale(4);
    bottom: 2in;
    left: 2in;
    z-index:6;
}

.info-container {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 405px;
    bottom: 120px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 3in;
    text-align: center;
    border: 1px solid black;
}
@media (max-width: 700px) {
    .info-container {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 36px;
        bottom: -200px;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgba(255, 255, 255, 0.3);
        width: 3in;
        text-align: center;
        border: 1px solid black;
    }
}

.info-container-ex {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 405px;
    bottom: 47px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 3in;
    text-align: center;
    border: 1px solid black;
}
@media (max-width: 700px) {
    .info-container-ex {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 39px;
        bottom: -230px;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgba(255, 255, 255, 0.3);
        width: 3in;
        text-align: center;
        border: 1px solid black;
    }
}
.info-container-add {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 241px;
    bottom: 37px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 3in;
    text-align: center;
    border: 1px solid black;
}

/* IPHONE */
/* #popup-main-div {
    position: fixed;
    width: 127vw;
    max-width: 889px;
    height: 80vh;
    border: 2px solid black;
    border-radius: 5px;
    background-image: url(WoodBackground.jpeg);
    right: 10%;
    top: 15%;
    z-index: 4;
} */

.add-to-table-button-container {
    display: flex;
    position: absolute;
    left: 62%;
    bottom: 53%;
}
@media (max-width: 700px) {
    .add-to-table-button-container {
        display: flex;
        position: absolute;
        left: 134px;
        bottom: 15px;
    }
}

.add-to-table-button {
    background-color:rgb(107, 180, 223);
    width: 1.2in;
    height: 1in;
    border-radius: 9px;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.add-to-table-button-container-ex {
    display: flex;
    position: absolute;
    left: 62%;
    bottom: 53%;
}
@media (max-width: 700px) {
    .add-to-table-button-container-ex {
        display: flex;
        position: absolute;
        left: 134px;
        bottom: 15px;
    }
}

.add-to-table-button:hover {
    transform: scale(1.1);
}

.accordion {
    z-index: 5;
}

.accordion_button {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #333333;
    color: white;
    text-align: left;
    transition: background 0.2s;
}

  .accordion_button::after {
      content: "\25be";
      float: right;
      transform: scale(1.5);
    }
  .accordion_button--active + .accordion_content {display: block;}
  .accordion_button--active { background: #555555}
  .accordion_button--active::after { content: "\25b4"}
  
  /* You are able to hide the content, but you are also able to animate the height when the accordion gets expanded */
  
  .accordion_content {
      /* overflow: hidden;
      max-height: 0;
      transition: max-height 0.2s; */
      
      padding: 0 15px;
      font-family: "sans-serif";
      background: #eeeeee;
      
      display: none;
      overflow: auto;
    }
    /* COMPUTER */
    /* .expansions-container {
        padding-top: .3in;
        padding-bottom: .3in;
        width: 100%;
    height: auto;
    padding:20px;
    margin: 100px auto;
    display: grid;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 300px 300px
} */

/* IPHONE */
.expansions-container {
    padding-top: 0.3in;
    padding-bottom: 0.3in;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0 -34px;
    display: grid;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: 18vw 18vw 18vw 18vw 18vw;
    grid-template-rows: 20vw 20vw;
}

/* COMPUTER */
/* .expansion-image {
    display: block;
    width: 2.5in;
    height: 2.5in;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s;
    object-fit:fill;
    border: 3px solid rgba(0, 0, 0, 0.75);
} */

/* IPHONE */
.expansion-image {
    display: block;
    width: 15vw;
    height: 15vw;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s;
    object-fit: fill;
    border: 3px solid rgba(0, 0, 0, 0.75);
}

.expansion-image:hover{
    border: 5px solid #306FA2;
    transform:scale(1.2);
    z-index: 0;
      /* box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset; */
    }
    
    
    .requestee-text {
        font-weight: bold;
    }
    
    .request-title-text {
        font-style: italic;
        color:rgb(197, 54, 54);
    }
    
    .footer {
        height: 1in;
        width: 100%;
        background-color: #474747;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer-images {
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    
    .insta {
        width: 3vw;
        min-width: 50px;
        cursor: pointer;
    }
    
    /* ABOUT */

.about-text-container-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
    .about-text-container {
        margin-top: 1in;
        margin-bottom: 1in;
        background-color: rgba(255, 255, 255, 0.5);
}

.about-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 623px;
    padding: 60px;
    border: 3px solid black;
}
@media (max-width:700px) {
    .about-text {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 306px;
        font-size: 20px;
        padding: 16px;
        border: 3px solid black;
    }
}

.about-graphic-container {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 1in;
}

.about-graphic {
    width: 45vw;
    border: 3px solid black;
}
@media (max-width: 700px) {
    .about-graphic {
        width:90vw;
        border: 3px solid black;
    }
}

.underconstruction-graphic-container {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: .5in;
    margin-bottom: .5in;
}

.underconstruction-graphic {
    width: 50vw;
    border: 14px solid orange;
    border-radius: 30px;
}

.maze-link {
    position: relative;
    background-color: #4b4b4b;
    height: 91px;
    width: 50px;
    right: 0%;
    bottom: -95px;
}

/* LOG IN */

.login-tools-main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4in;
    padding-top:1.5in;
    padding-bottom: 1.5in;
}

.login-tools-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: .3in 1in 1in 1in;
    border: 2px solid black;
    border-radius: 9px;
}

.login-tools {
    display: flex;
    justify-content: space-around;
    flex-direction:column;
    align-items: center;
}

/* SIGN UP */

.text-h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    padding-bottom:25px;
}